<div ng-show="author.books" ng-controller="BooksCtrl">
    <h3>Books:</h3>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="book in author.books">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="javascript:void(0);"
                       class="accordion-toggle"
                       data-toggle="collapse"
                       data-parent="#accordion"
                       data-target="#collapse{{$index}}">
                        {{book.title}}
                    </a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse"
                 ng-class="$first ? 'in' : null">
                <div class="panel-body">
                    <img ng-src="{{book.img}}" alt="" class="pull-right"/>
                    <div ng-bind-html="book.description"></div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <!-- Button to trigger modal -->
    <a data-target="#book-modal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">
        Add book
    </a>

    <!-- Modal -->
    <div id="book-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Book Form</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="BookForm" ng-submit="addBook()">
                        <div class="form-group">
                            <label class="control-label col-lg-3" for="bookTitle">Title</label>
                            <div class="col-lg-4">
                                <input ng-model="book.title"
                                       class="form-control"
                                       name="title"
                                       type="text"
                                       id="bookTitle"
                                       placeholder="Title"
                                       ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3" for="bookImg">Image Url</label>
                            <div class="col-lg-4">
                                <input ng-model="book.img"
                                       class="form-control"
                                       name="img"
                                       type="text"
                                       id="bookImg"
                                       placeholder="Image Url"
                                       ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3" for="bookDescription">Text</label>
                            <div class="col-lg-4">
                                <textarea ng-model="book.description"
                                          class="form-control"
                                          id="bookDescription"
                                          placeholder="Description"
                                          ng-required="true"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button ng-disabled="BookForm.$invalid" class="btn btn-primary" ng-click="addBook()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
