<div ng-controller="CommentCtrl" ng-show="author">
    <div ng-repeat="comment in author.comments" class="row comment-row">
        <div class="span1">
            <img ng-src="{{getGravatarSrc(comment.email)}}"
                 alt="gravatar">
        </div>
        <div class="span8">
            <pre>{{comment.text}}</pre>
            <a href="javascript:void(0)" class="pull-right" ng-click="deleteComment($index)">delete</a>
        </div>
    </div>
    <form class="form-horizontal" name="CommentForm" ng-submit="addComment()">
        <div class="control-group">
            <label class="control-label" for="formEmail">Email</label>
            <div class="controls">
                <input ng-model="comment.email"
                       name="email"
                       type="email"
                       id="formEmail"
                       placeholder="Email"
                       ng-required="true">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formComment">Text</label>
            <div class="controls">
                <textarea ng-model="comment.text"
                          id="formComment"
                          placeholder="Comment Text"
                          ng-required="true"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button ng-disabled="CommentForm.$invalid" type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>
